* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-sections: #0c356ad0;
    --background-color: #fff0ce;
    --headings-color: #ffc436;
    --items-color: #0174be;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    color: var(--headings-color);
}

header > p {
    color: #fff;
}

header,
footer {
    background-color: var(--background-color-sections);
    color: #fff;
    font-weight: bold;
}

main {
    background-color: var(--background-color-sections);
    border: 5px solid var(--headings-color);
    padding: 30px;
    margin: 45px 0;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.game-result {
    text-align: center;
}

.game-result h2 {
    font-size: 24px;
    color: var(--headings-color);
}

.current-game {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.play {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.play > img {
    height: 80px;
}

.play-options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option-container {
    background-color: var(--background-color);
    border: 5px solid var(--headings-color);
    padding: 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.option-container:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.play-options img {
    height: 45px;
}

footer {
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 40rem) {
    h1 {
        font-size: 36px;
        margin-bottom: 15px;
    }

    header > p {
        font-size: 25px;
    }

    main {
        width: 100%;
        max-width: 700px;
        max-height: 600px;
        align-self: center;
        border-radius: 20px;
    }

    .current-game {
        justify-content: center;
        gap: 70px;
    }

    .game-result h2 {
        font-size: 40px;
    }

    .play > img {
        height: 120px;
    }

    .play-options {
        gap: 25px;
    }

    .play-options img {
        height: 50px;
    }

    footer {
        font-size: 18px;
    }
}
